@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilização de todo o menu inicial da barra de navegação */ 
* {
  font-family: "Bitter", serif;
}

body{
    margin: 0;
    padding: 0;
    padding: 1% 5%;
}

.flex-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecalho{
    background-color: #63b1bc;
    padding-bottom: 1px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    padding: 0.25%;
    color: #ED145B;
}

.lista-menu{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.lista-menu a {
    display: flex;
    justify-content: center;
    gap: 5%;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.lista-menu a:hover {
    color: white;
    border-bottom: white;
    transform: scale(1.25);
}

.menu{
    color: #1f2a44;
    text-decoration: none;
}

#entrada_decimal, #entrada_binario, 
#entrada_octadecimal, #entrada_hexadecimal,
#numero_1, #numero_2, #numOcta_1, #numOcta_2,
#numBin_1, #numBin_2{
    font-size: 110%;
    width: 40%;
    border-radius: 10px;
}

#secao1{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-left: 5%;
    margin-right: 5%;
}

#secaoConversao{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: #1f2a44;
    margin-right: 2%;
    border-radius: 10px;
}

#secaoContato{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: #1f2a44;
    border-radius: 10px;
}

#secao2{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    background-color: #1f2a44;
    border-radius: 10px;
    width: 50%;
    height: 80%;
    gap: 10px;
}

.secao2-interna {
    align-items: center;
    color:#ED145B;
    font-weight: bold;
}

#resultado, .textoBranco, #resultado_calculadora{
    color: #EFB661;
    font-size: 20px;
}

.git{
    color: white;
    text-decoration: none;
}

button {
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 40px;
    margin: 1%;
    font-weight: bold;
    background-color:white;
    color: #1f2a44;
}

button:hover {
    background: #ED145B;
}

input {
    text-align: center;
}

/* Animação de quadrados no background*/

.squares li {
    width: 40px;
    height: 40px;   
    background-color: rgba(37, 254, 243, 0.549);
    display: block;
    position: fixed;
    animation: up 2s infinite;
    animation-direction: alternate;
    z-index: -1;
}

@keyframes up {
    from {
        transform: translateY(0);
    }
    50% {
        opacity: 0;
    }
    to {
        transform: translateY(-800px) rotate(960deg);
    }
}